<!DOCTYPE html>
<html>
  <head>
    <title>Budgetapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>

  <body>
  <nav class="navbar">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong> |
        <%= link_to "Home", users_path, class: "navbar-link" %> |
        <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %> |
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar-link"  %>
      <% end %>
    </nav>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
