<!DOCTYPE html>
<html>
  <head>
    <title>Budgetapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "categories", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>

  <body>
    <div class="message container-fluid fixed-top">
      <% if notice.present? %>
        <div class="alert alert-success text-center mb-0 p-0" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-danger text-center mb-0 p-0" role="alert">
          <%= alert %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
